html{
    background-color: #000000;
  }
@font-face {
    font-family: 'Farray';
    src: url('FARRAY.otf') format('truetype'); /*importing*/
}


head{
  background-color: #00000000;
  border: #2c2c2c00;
  padding: 10px;
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
/* Add these styles at the end of your existing CSS */

.img-link-bandlogo img {
  width: 640px; /* Set the width of the image to 100% */
  height: 640px; /* Maintain the aspect ratio */
}


a {
  color: white;
  text-decoration: none;
}

/* Style for white color and no underline on hover */
a:hover {
  color: white;
  text-decoration: none;
}

h1{
  font-family: 'Farray', sans-serif;
  font-weight: normal;
}

h1:hover{
  color:#bab2b2
}


h2{
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
}

h5{
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  margin:4px;
  font-size: 15px;
}

h4{
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
}


.band-name{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.band-name:hover{
  color:#bab2b2;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: white;
}
.flex-head{
    display: flex; /* Add this line to make it a flex container */
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Add space between h1 and buttons */
    flex-direction: row;
    flex:0 0 auto;
}
/* Style for white color and no underline */
a.btn-group-link {
  background-color: #000000; /* Black background */
  border: 1px solid rgb(0, 0, 0); /* Black border */
  color: rgb(195, 195, 195); /* White text */
  padding: 8px 16px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: right; /* Float the buttons side by side */
  font-size: 16px; /* Add this line to set the font size */
  text-decoration: none; /* No underline for regular state */
}
a.btn-group-link {
  position: relative;
  color: #ffffff; /* Link color */
  text-decoration: none;
}

a.btn-group-link::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: width 0.4s ease-out; /* Add transition for smooth animation */
}

a.btn-group-link:hover::before {
  width: 75%;
  left: 12.5%; /* Half of (100% - 75%) to keep it centered */
}



/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}


.flex-imagebody{
  display: flex; /* Add this line to make it a flex container */
  flex-wrap: wrap;
  align-items: center; /* Align items vertically in the center */
  flex-direction: column;
}

.flex-images {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.flex-images1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.flex-images2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

.img-grp {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.flex-buttons{
  flex-wrap: wrap;
  text-align: right;
  margin-left: auto;
  flex-direction: column;
}

.News{
  flex: 0 0 auto;
  writing-mode: vertical-lr
  
}

.Media{
  flex: 0 0 auto;
  writing-mode: vertical-lr
  
}

.Live{
  flex: 0 0 auto;
  writing-mode: vertical-lr
}

.flex-News{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

.flex-Media{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

.flex-Live{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

.Body-content {
  flex: 1;
  position: relative;
  text-align: left;
}

button.link{
  background: none!important;
  border: none;

}

.Body-content a {
  color: #ffffff; /* Link color */
  text-decoration: none;
}

.Body-content a:hover {
  color: #bab2b2; /* Greyish-white color on hover */
  text-decoration: none; /* Add underline on hover */
}

a.img-link-bandlogo img{
  display: inline-block; /* Ensure the link is treated as a block */
  transition: transform 0.4s;
}

/* Apply grayscale filter on hover */
a.img-link-bandlogo:hover img {
  filter: ();
  transform: scale(0.85);
  filter: brightness(70%);
}

/* Style for the link */
a.img-link img{
  height: 320px; /* Set the fixed height for the images */
  width: 320px; 
  display: inline-block; /* Ensure the link is treated as a block */
  transition: transform 0.4s;
}

/* Apply grayscale filter on hover */
a.img-link:hover img {
  filter: ();
  transform: scale(0.85);
  filter: brightness(70%);
}
.homelink {
  position: relative;
  color: #ffffff; /* Link color */
  text-decoration: none;
}

.homelink::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.8s ease-out;
}

.homelink:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link {
  position: relative;
  color: #ffffff; /* Link color */
  text-decoration: none;
  font-size : 17px
}


.link:hover {
  color: #bab2b2;
}

.sub-page-title{
  text-align: center;
}

.dropbtn{
  display: none
}

.pages-content{
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  width:60%;
}

.dropdown-buttons{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
}

button.link{
  text-align: left;
}

.dropdown-content{
  Display: none;
  position: relative;
  left: 0;
  top: calc(100% + .25rem);
  background-color: rgb(73, 66, 66);
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,1)
}

.dropdown-content:hover{
  Display: block;
}

.dropdown-content:hover::after{
  Display: block;
}

.dropdown-buttons > .link:focus + .dropdown-content{
  display: block;
}

.dropbtn:focus + .dropdown-content,
.dropdown-content:focus-within {
  display: block;
}

button.cart-link{
  background: none!important;
  border: none;
}



.bio-content{
  margin: 0 auto;
  width:40%;
}

.bio-img{
  margin: 0 auto;
  text-align: center;
}

.bio-img img{
  max-width: 90%;
  width: 90%;
  height: auto;
}

h5.bio-content{
  margin:10px;
}

.video-content{
  margin: 0 auto;
  width:60%;
  text-align: center;
}

.albums{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}

.container{
  width:900px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
}
svg{
  width:30px;
}

.icon-cart{
  text-align: right;
  position: relative;
}
.icon-cart span{
  position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}

.listproduct .item img{
  width: 90%;
  margin: 0 auto;
}

.listproduct{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.listproduct .item{
  background-color:#bab2b2;
  padding: 20px;
  border-radius: 20px;
}

.listproduct .item h2{
  font-weight: 500;
  font-size: large;
}

.listproduct .item .price{
  letter-spacing:7px;
  font-size:small ;
}

.listproduct .item button{
  background-color: #f9f9f9;
  color: #000000;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.cartTab{
  width: 400px;
  background-color: #bab2b2;
  color: #f9f9f9;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: inset 0.5s;
}

body.showCart .cartTab{
  inset: 0 0 0 auto;
}


.cartTab h2{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.cartTab .btn button{
  background-color: aqua;
  border: #000000;
  font-family: Poppins;
  font-weight: 500;
  padding: 1px;
  cursor: pointer;
}

.cartTab .btn .close{
  background-color: white;
}

.cartTab .listcart .item img{
  width:100%;
}

.cartTab .listcart .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.listcart .quantity span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color:#555;
  border-radius: 50%;
  cursor: pointer;
}

.listcart .quantity span:nth-child(2){
  background-color: transparent;
  color: #eee;
}

.listcart .item:nth-child(even){
  background-color: #eee1;
}

.listcart{
  overflow: auto;
}

.listcart::-webkit-scrollbar{
  width: 0;
}




/*checkout page*/
.checkoutLayout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 20px;
}

.checkoutLayout .right{
  background-color: #5358b3;
  border-radius: 20px;
  padding: 40px;
  color:#fff;
}

.checkoutLayout .list img{
  height: 70px;
}
.checkoutLayout .right .form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  border-bottom: 1px solid #7a7fe2;
  padding-bottom: 20px;
}
.checkoutLayout .form .group:nth-child(-n+3){
  grid-column-start: 1;
  grid-column-end: 3;
}

.checkoutLayout .form input,
.checkoutLayout .form select {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  background-color: #6a6fc9;
  color: #fff;
}
.checkoutLayout .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.checkoutLayout .row div:nth-child(2){
  font-weight: bold;
  font-size: x-large;
}
.buttonCheckout{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #49d8b9;
}
.returnCart h1{
  border-top: 1px solid #eee;
  padding: 20px 0;
}
.returnCart .list.item img{
  height: 80px
}
.returnCart .item{
  display: grid;
  grid-template-columns: 80px 1fr 50px 80px;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  padding: 0 10px;
  box-shadow: 0 10px 20px #555;
  border-radius: 20px;
}
.returnCart .item .name,
.returnCart .item .returnPrice{
  font-size: x-large;
  font-weight: bold;
}







@media screen and (max-width: 420px) {
  h1 {
    font-size: 24px; /* Adjust the font size for h1 */
  }

  h2,
  h4 {
    font-size: 16px; /* Adjust the font size for h2 and h4 */
  }

  a.btn-group-link,
  .Body-content,
  .link {
    font-size: 14px; /* Adjust the font size for links and body content */
  }

  .dropdown {
      display: inline-block;
      margin-top: 10px;
  }
  .flex-head {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: left;
  }
  .flex-buttons {
      display: none;
      flex: 0 45%;
      flex-direction: column;
      align-items: left;
  }
  .flex-head:hover .flex-buttons {
      display: flex;
  }
  body {
      width: 100%;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 100%;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      text-align: left;
  }
  .dropdown-content a {
    display: block;
    width: 100%; /* Make each link take the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 8px 16px; /* Add padding for better spacing */
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
      display: block;

  }
  .dropbtn {
      display: block;
      background-color: #000000;
      color: rgb(195, 195, 195);
      border: 1px solid rgb(0, 0, 0);
      padding: 8px 16px;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
  }
  .flex-News,
  .flex-Media,
  .flex-Live {
      width: 100%;
      max-width: 100%;
  }
  .Body-content {
    max-width: 100%; /* Adjusted to use 100% of the width */
  }
  hr {
    width: 100%;
  }
  
  .img-link-logo{
    width:fit-content;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .flex-imagebody{
    width:fit-content;
    max-width: 100%;
    display: flex; /* Add this line to make it a flex container */
    flex-wrap: wrap;
    align-items: center; /* Align items vertically in the center */
    flex-direction: column;
    flex:auto;
  }
  
  .flex-images {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width:fit-content;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center; /* Align items vertically in the center */
    flex:auto;
  }
  
  .flex-images1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width:fit-content;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center; /* Align items vertically in the center */
    flex:auto;
  }
  
  .flex-images2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width:fit-content;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center; /* Align items vertically in the center */
    flex:auto;
  }
  
  .img-grp {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width:fit-content;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center; /* Align items vertically in the center */
    flex:auto;
  }

  .img-link-bandlogo{
    display: none;
  }

  .pages-content{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
  }
  
  .dropdown-buttons{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
  }
  
  button.link{
    text-align: left;
  }
  
  .dropdown-content{
    Display: none;
    position: relative;
    left: 0;
    top: calc(100% + .25rem);
    background-color: rgb(73, 66, 66);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,1)
  }
  
  .dropdown-buttons > .link:focus + .dropdown-content{
    display: block;
  }

  .dropdown-content:hover{
    Display: block;
  }
  
  .dropdown-content:hover::after{
    Display: block;
  }
  .listproduct{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .listProduct{
      grid-template-columns: repeat(2, 1fr);
  }
}
